    body {
    font: 12pt Verdana;
    background-color: rgb(29, 110, 202);
    background: linear-gradient(131.03deg, rgb(29, 110, 202) 2.54%, #7be9ff 77.08%);
    text-align: center;
}

header {
    color: white;
    padding: 8px;
    font: 16pt Verdana;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    
}

section {
    padding: 20px 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.select-hosp {
    background-color: rgb(255, 255, 255);
    font-size: 12pt;
    padding: 10pt 10pt;
    margin: 8px;
    border: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(80, 79, 79);
    justify-content: space-around;
    max-width: 800px;
    min-width: 600px;
}

#item-hosp {
    padding: 5px;
    border-radius: 8px;
}

section > button {
    background-color: rgb(255, 255, 255);
    font-size: 12pt;
    font-weight: bold;
    padding: 10pt 10pt;
    margin: 8px;
    border: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(80, 79, 79);
    justify-content: space-around;
    max-width: 800px;
    min-width: 600px;

    

}

button:hover {
    background-color: rgb(177, 237, 255);
}

