body {
    font: 11pt Verdana;
    background-color: rgb(29, 110, 202);
    background: linear-gradient(131.03deg, rgb(29, 110, 202) 2.54%, #7be9ff 77.08%);
}

header {
    color: white;
    font: 16pt Verdana;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    padding: 8px;
}

div {
    padding: 8px 8px;
    background-color: white;
    border-radius: 8px;
    margin: 10px;
}

div:hover {
    background-color: rgb(177, 237, 255);
}

p {
    background-color: white;
}