body {
    background-color: rgb(29, 110, 202);
    background: linear-gradient(131.03deg, rgb(29, 110, 202) 2.54%, #7be9ff 77.08%);
}

header {
    font: 16pt Verdana;
    text-decoration: underline;
    text-align: center;
    color: white;
    padding: 8px;
}

div.item {
    font: 11pt Verdana;
    background-color: rgb(187, 226, 223);
    margin: 10px;
    padding: 5px 10px ;
    border-radius: 8px;
    text-align: justify;
    box-shadow: 2px 2px 2px rgb(105, 105, 105);
       

}

.item:hover {
    background-color: aliceblue;
}

.item-head {
    text-decoration: underline;
    font-weight: bold;
}