body {
    font: 12pt Verdana;
    background-color: rgb(29, 110, 202);
    background: linear-gradient(131.03deg, rgb(29, 110, 202) 2.54%, #7be9ff 77.08%);
    text-align: left;
    align-items: center;
}

h1 {
    font: 16pt Verdana;
    text-decoration: underline;
    text-align: center;
    color: white;
    padding: 8px;
    font-weight: bold;

}

h2 {
    color: white;
    font: 12pt Verdana;
    font-weight: bold;
}

#ramaishbs {
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    margin: 8px;
    border: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(80, 79, 79);
    font: 11pt Verdana;

    max-width: 800px;
    min-width: 600px; 
}

#ramaisimagem {
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    margin: 8px;
    border: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(80, 79, 79);
    font: 11pt Verdana;

    max-width: 800px;
    min-width: 600px;
}

#ramaisoutros {
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    margin: 8px;
    border: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(80, 79, 79);
    font: 11pt Verdana;

    max-width: 800px;
    min-width: 600px;
}

.item {
    padding: 2.5px;    
    }

ul {
    
    display: flex;
    flex-direction: column;
    list-style: none;
    box-shadow: 2px 2px 5px;
}

li:hover {
    background-color: rgb(177, 237, 255);
}

.a-return {
    background-color: aliceblue;
    padding: 10px 10px;
    border-radius: 8px;
    width: fit-content;
    
}

