body {
    font: 12pt Verdana;
    background-color: rgb(29, 110, 202);
    background: linear-gradient(131.03deg, rgb(29, 110, 202) 2.54%, #7be9ff 77.08%);
    text-align: center;
    align-items: center;
}

header {
    font: 16pt Verdana;
    text-decoration: underline;
    text-align: center;
    color: white;
    padding: 8px;
    font-weight: bold;
}

section#dados {
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    margin: 8px;
    border: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(80, 79, 79);
    font: 11pt Verdana;

    max-width: 800px;
    min-width: 600px;

}

p#p1 {
    text-decoration: underline;
    font-weight: bold;
}


input#box-altura {
    max-width: 100px;
    padding: 8px;
    text-align: center;
    border-style: dotted;
}

input#box-peso {
    max-width: 100px;
    padding: 8px;
    text-align: center;
    border-style: dotted;

}

input#btnCalc {
    max-width: 100px;
    padding: 8px 8px;
    border-radius: 3px;
    box-shadow: 2px;
}

input#btncopy {
    max-width: 100px;
    padding: 8px 8px;
    border-radius: 3px;
    box-shadow: 2px;
    margin-left: 12px;
}

section#box-evol {
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    margin: 8px;
    border: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(80, 79, 79);
    font: 11pt Verdana;
    text-align: justify;
    justify-content: space-around;
    max-width: 800px;
    min-width: 600px;
}

footer {
    font: 12pt;
    padding: 10px 10px 10px;
    text-align: center;
    
}

p#evolp1 {
    font-weight: bold;
    text-decoration: underline;
}

p#evolp2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}