body {
    font: 11pt Verdana;
    background-color: rgb(29, 110, 202);
    background: linear-gradient(131.03deg, rgb(29, 110, 202) 2.54%, #7be9ff 77.08%);
}

header {
    color: white;
    font: 16pt Verdana;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    padding: 8px;
}

input#form-peso {
    max-width: 100px;
    padding: 8px;
    text-align: center;
    border-style: dotted;
}

table#solucoes {
    background-color: rgb(228, 228, 228);
    text-align: justify;
    width: auto;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    border-spacing: 5px;

}

thead {
    text-decoration: underline;
    

}


th {
    text-align: center;
    padding: 5px;   

}

.detalhes {
    text-align: justify;
    font-size: 8pt;

}

.vazao {
    padding: 10px;
    empty-cells: show;
    text-align: center;
    text-emphasis-color: blue;
    border-radius: 5px;
        
}

.vazaoMed {
    border: none;
    width: 60px;
    height: 30px;
}

div#resultados {
    background-color: white;
    width: auto;
    text-align: justify;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    border-spacing: 5px;

}

div#dosemax {
    background-color: aqua;
    
}

div#resultados {
    padding: 8px 8px;
    
}